body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fbfbfb;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.navi
{
    border-width: 5px;
    border-color: black;
}


.navi ul
{
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #e2e2e2;
    text-align: center;
    border-style: solid;
    border-width: 0px 8px 0px 8px;
    border-color: #a09f9f;
    border-radius: 5px;
}

.navi a
{
    padding: 8px 50px;
    margin: 5px 10px 5px 10px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navi a:hover
{
    background-color: #f1f1f1;
}

.navi li
{
    display: inline-block;
}